
<h1>I Love Send Grid</h1>

<%= render 'layouts/header' %>

<%= render 'layouts/about' %>

<%= render 'layouts/illust' %>

<%= render 'layouts/contact' %>

<%# 固定背景 %>
<img src="/assets/backgroundimage.jpg" class="background-image">


<%# ページを一番上に戻す %>
<div id="topScroll" class="topScroll">
  <span class="fas fa-arrow-up"></span>
</div>

<%= render 'layouts/footer' %>
