<div class="header" id="header">
  <%= render 'layouts/header' %>
</div>
<div class="topimage" id="topimage">
  <%= render 'layouts/about' %>
</div>
<% if logged_in? %>
  <div class="create" id="create">
    <%= render 'layouts/create' %>
  </div>
<% end %>
<div class="illust" id="illust">
  <h1>illust</h1>
  <%= render 'layouts/tag' %>
  <%= render 'layouts/illust' %>
</div>
<div class="sns" id="sns">
  <%= render 'layouts/sns' %>
</div>

<div class="mail" id="contact">
  <%= render 'layouts/contact' %>
</div>

<%# 固定背景  %>
<img src="/assets/haike2.png" class="background-image lactop">
<!-- スマホ用固定背景 -->
<img src="/assets/haike3.png" class="background-image-iphone iphone">

<%# ページを一番上に戻す %>
<div id="topScroll" class="topScroll">
  <span class="fas fa-arrow-up"></span>
</div>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>
<div class="iphone-menu">
  <%= render 'layouts/iphonemenu' %>
</div>
