<div class="illust-post-form" id="illust-post-form">
  <%= form_with model: @illust,url: { action: "createIllust" } do |form| %>
    <div class="post-list">
      <%= form.label :fullimage,class: 'illust-post-label' %>
      <br>
      <label for="fullimage-post" id="fullimage-postCss" class="fullimage-postCss">
        Illust Post
        <%= form.file_field :fullimage, id: 'fullimage-post',class: 'fullimage-post',style: 'display:none;' %>
      </label>
      <br>
      <img id="fullimage-illust" alt="">
    </div>
    <button type="button" name="button" id="trimmingStart" class="btn">trimming for thumbnail</button>
    <div class="trimming" id="trimming">
      <img src="" alt="" class="trimmingTarget" id="trimmingTarget">
      <div id="dust" class="dust"></div>
      <span id="mini" class="mini"></span>
      <div class="edit" id="edit">
        <input type="radio" name="edit" value="" id="radioZoom">
        <label class="zoom" id="zoom" for="radioZoom">
          <span class="fas fa-search-plus"></span>
          <span class="fas fa-search-minus"></span>
          Zoom in/out
        </label>
        <br>
        <input type="radio" name="edit" value="" id="radioMove">
        <label class="move" id="move" for="radioMove">
          <span class="fas fa-arrows-alt"></span>
          Move
        </label>
      </div>
      <span class="fas fa-border-style" id="zoomBorder"></span>
      <canvas id="canvas" width="300" height="300"></canvas>
      <button type="button" name="button" id="decision" class="decision"><span class="fas fa-chevron-circle-right"></span>Decision</button>
    </div>
    <%= form.hidden_field :thumb, id: 'thumbSize-post' %>
    <div class="post-list">
      <% @tags.each do |tag| %>
        <%= form.check_box :categories,{multiple: true}, tag.category,nil  %>
        <%= form.label :categories, tag.category %>
      <% end %>
    </div>
    <%= form.submit class:'btn' %>
  <% end %>
  <%= form_with model: @tag,url: { action: "createTag" },class:'createTag' do |form| %>
    <%= form.text_field :category,class: 'newCategory' %>
    <%= form.submit class:'btn' %>
  <% end %>
</div>
