<!-- イラスト -->
<div class="illust" id="illust">
  <% if logged_in? %>
    <div class="illust-post">
      <div class="illust-post-button" id="illust-post-button">
        <span class="far fa-plus-square"></span>
      </div>
      <div class="illust-post-form" id="illust-post-form">
        <%= form_with model: @illust,url: { action: "create" } do |form| %>
          <%= form.label :avatar ,class: 'illust-post-label' %>
          <%= form.file_field :avatar %>
          <br>
          <%= form.label :fullimage,class: 'illust-post-label' %>
          <%= form.file_field :fullimage %>
          <br>
          <%= form.label :name,class: 'illust-post-label' %>
          <%= form.text_field :name %>
          <%= form.submit %>
        <% end %>
      </div>
    </div>
  <% end %>
  <h1>illust</h1>
  <!-- イラストパーツ -->
  <div id="illust-container">
    <%= render 'shared/pagination' %>
  </div>

    <!-- float要素破壊 -->
    <div class="clear" />
  </div>

<!-- イラスト追加ボタン -->
