<!-- イラスト -->
<div id="illust-container">
    <% @illusts.each do |illust| %>
      <div class="illust-container">
        <div class="illust-content">
          <div class="content">
            <canvas id="canvas" width="200" height="200"></canvas>
            <%= hidden_field_tag "thumbSize",illust.thumb %>
            <%= image_tag illust.fullimage,style: "display:none",alt: "illustrator kelly #{illust.name}" %>
          </div>
        </div>
      </div>
      <!--フルイメージ-->
      <div class="fullimage">
        <div class="close" id="close">
          <span class="fas fa-times fa-fw"></span>
        </div>
        <!-- <div class="share" id="share">
          <div class="shareTitle">
            <p>Share to ...</p>
          </div>
          <a class="s-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url + "post/#{illust.id}"%>%2F&amp;src=sdkpreparse" rel="noopener"><span class="fab fa-facebook-square fa-fw"></span><p>Facebook</p></a>
          <br class="Vertical">
          <a class="s-twitter" target="_blank" href="https://twitter.com/share?url=<%= request.url + "post/#{illust.id}" %>" rel="noopener"><span class="fab fa-twitter-square fa-fw"></span><p>Twitter</p></a>
          <br class="Vertical">
          <a class="s-line" target="_blank" href="http://line.me/R/msg/text/?<%= request.url + "post/#{illust.id}"%>" rel="noopener"><span class="fab fa-line fa-fw"></span><p>LINE</p></a>
        </div> -->
        <% if logged_in? %>
          <!-- 削除フォーム -->
          <div class="delete">
            <%= link_to "/illust/#{illust.id}", :method => :delete,  data: { confirm: 'Are you sure?' } do %>
              <span class="fas fa-trash-alt"></span>
            <% end %>
          </div>
          <!-- 編集フォーム -->
          <div class="edit">
            <span class="fas fa-edit" id="editOpen"></span>
            <div class="editContent">
              <input type="hidden" id="originalCategory" value="<%= illust.categories %>">
              <%= form_with url: "/updateillust/#{illust.id}" do |form| %>
                <div id="editIllustTag" class="editIllustTag">
                  <% @tags.each do |tag| %>
                    <%= form.check_box :categories,{multiple: true}, "@#{tag.category}#{tag.id}",nil  %>
                    <%= form.label :categories, tag.category %>
                  <% end %>
                  <%= form.submit class:'btn' %>
                </div>
              <% end %>
              <span class="fas fa-times fa-fw" id="illustEditClose"></span>
            </div>
          </div>
        <% end %>
        <%= image_tag illust.fullimage ,class: 'fullillust',id: 'fullimage' ,alt: "illustrator kelly #{illust.name}" %>
        <div class="backClose"></div>
      </div>
    <% end %>
  <div class="clear" />
  <div class="paginate">
    <%= paginate @illusts, :remote => true %>
  </div>
</div>
