<div class="tag" id="tag">
  <% if @select %>
    <%= link_to "All(#{Illust.all.count})", {action: 'top'} , remote: true %>
  <% else %>
    <span>All(<%= Illust.all.count %>)</span>
  <% end %>
  <% @tags.each do |tag| %>
    <% if tag == @select %>
      <span><%= tag.category + "(#{Illust.where("categories LIKE ?", "%@#{tag.category}#{tag.id}%").count})"%></span>
    <% else %>
      <%= link_to "/#{tag.category}", remote: true do %>
        <%= tag.category + "(#{Illust.where("categories LIKE ?", "%@#{tag.category}#{tag.id}%").count})"%>
      <% end %>
    <% end %>

  <% end %>

</div>
<div class="clear">

</div>
<!-- Illust.where("categories LIKE ?", "%@#{@tag.category}#{@tag.id}%") -->
